@if (steps.length > 0) {
<section class="cart-box" [@slideCard]="current">
  <div
    class="img-wrapper"
    [ngStyle]="{
      'background-color': steps[current].bgcolor,
      'background-image': 'url(' + steps[current].img + ')'
    }"
  ></div>

  <div class="text-wrapper">
    <article class="text-box">
      <h3 class="cart-title">{{ steps[current].title }}</h3>
      <p class="cart-text">{{ steps[current].descripcion }}</p>
    </article>
  </div>

  <div class="func-wrapper">
    <div class="points">
      @for (step of steps; track step.title; let idx = $index) {
      <div
        class="point"
        [class.point-active]="idx === current"
        (click)="goToSlide(idx)"
      ></div>
      }
    </div>
    <div class="btns-box">
      <button class="btn btn-left" (click)="prevSlide()">←</button>
      <button class="btn btn-right" (click)="nextSlide()">→</button>
    </div>
  </div>
</section>
}
